{{!-- <ol class="post-list">
    <li>
        <article class="post">
            <div class="title">
                <a href="{{post_url}}" target="_blank">{{title}}</a>
                <span>({{post_url}})</span>
            </div>
            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-end">
                    <!--<a class="navbar-item is-active">
                            Home
                        </a>  -->
                    <div class="navbar-item  is-hoverable">
                        <a class="navbar-item">
                            Dashboard
                        </a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item">
                                Logout
                            </a>
                            <hr class="navbar-divider">
                            <div class="navbar-item">
                                Login
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </li>
</ol> --}}

<!DOCTYPE html>
<html>

<head>
    <!--TEST OF DYNAMIC HTML NOT SURE WHY THE SCRIPT LOCATION IN THE DEMO IS UP HERE - SEE URL BELOW-->
    <script language="JavaScript">
        function changeMe() {
            MyHeading.outerHTML = "<H1 ID=MyHeading>Dynamic HTML!</H1>";
            MyHeading.style.color = "green";
            MyText.innerText = "You can do the most amazing things with the least bit of effort.";
            MyText.align = "center";
            document.body.insertAdjacentHTML("BeforeEnd", "<P ALIGN=\"center\">Just give it a try!</P>");
        }    
    </script>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {{ title }} </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet'
        href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.3/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<body onclick="changeMe()">
    <!-- START NAV -->
    <nav class="navbar" style="background-color: #4eb5f1;border-radius:50px; opacity: 85%;">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="../">
                    <img src="./images/New_blah_blah.PNG" class="new-post" alt="plus sign to add new post">
                </a>
                <span class="navbar-burger burger" data-target="navbarMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </div>
            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item is-active">
                        Home
                    </a>
                    <a href="/">Home</a>
                    </a>

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            Dashboard
                        </a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item">
                                <a href="/logout">Logout</a>
                            </a>
                            <!-- <a class="navbar-item">
                                    Profile
                                </a> -->
                            <hr class="navbar-divider">
                            <div class="navbar-item">
                                <a href="/login">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- END NAV -->

    <div class="container">
        <!-- START ARTICLE FEED -->
        <section class="articles">
            <div class="column is-12 is-offset-0">

                <!-- START ARTICLE -->
                <div class="card article">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-center">
                                <img src="https://res.cloudinary.com/ameo/image/upload/v1639144778/typocat_svbspx.png"
                                    class="author-image" alt="Placeholder image">
                            </div>
                            <div class="media-content has-text-centered">
                                <p class="title article-title"> Blog Title Placeholder.. </p>
                                <div class="tags has-addons level-item">
                                    <span class="tag is-rounded is-info">@{{user.username}}</span>
                                    <span class="tag is-rounded">{{created_at}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="content article-body">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Accumsan lacus vel facilisis volutpat est
                                velit egestas. Sapien eget mi proin sed. Sit amet mattis vulputate enim.
                            </p>
                            <p>
                                Commodo ullamcorper a lacus vestibulum sed arcu. Fermentum leo vel orci porta non. Proin
                                fermentum leo vel orci porta non pulvinar. Imperdiet proin fermentum leo vel. Tortor
                                posuere ac ut consequat semper viverra. Vestibulum lectus mauris ultrices eros.
                            </p>
                            <h3 class="has-text-centered">Lectus vestibulum mattis ullamcorper velit sed ullamcorper
                                morbi. Cras tincidunt lobortis feugiat vivamus.</h3>
                            <p>
                                In eu mi bibendum neque egestas congue quisque egestas diam. Enim nec dui nunc mattis
                                enim ut tellus. Ut morbi tincidunt augue interdum velit euismod in. At in tellus integer
                                feugiat scelerisque varius morbi enim nunc. Vitae suscipit tellus mauris a diam.
                                Arcu non sodales neque sodales ut etiam sit amet.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- END ARTICLE -->

                <section class="hero is-info is-bold is-small promo-block">
                    <div class="hero-body">

                    </div>
                </section>

                <!-- START ARTICLE -->
                <div class="card article">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-center">
                                <img src="https://res.cloudinary.com/ameo/image/upload/v1639144778/typocat_svbspx.png"
                                    class="author-image" alt="Placeholder image">
                            </div>
                            <div class="media-content has-text-centered">
                                <p class="title article-title"> Blog Title Placeholder.. </p>
                                <div class="tags has-addons level-item">
                                    <span class="tag is-rounded is-info">@User placeholder</span>
                                    <span class="tag is-rounded">Date Place Holder</span>
                                </div>
                            </div>
                        </div>
                        <div class="content article-body">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Accumsan lacus vel facilisis volutpat est
                                velit egestas. Sapien eget mi proin sed. Sit amet mattis vulputate enim.
                            </p>
                            <p>
                                Commodo ullamcorper a lacus vestibulum sed arcu. Fermentum leo vel orci porta non. Proin
                                fermentum leo vel orci porta non pulvinar. Imperdiet proin fermentum leo vel. Tortor
                                posuere ac ut consequat semper viverra. Vestibulum lectus mauris ultrices eros.
                            </p>
                            <h3 class="has-text-centered">Lectus vestibulum mattis ullamcorper velit sed ullamcorper
                                morbi. Cras tincidunt lobortis feugiat vivamus.</h3>
                            <p>
                                In eu mi bibendum neque egestas congue quisque egestas diam. Enim nec dui nunc mattis
                                enim ut tellus. Ut morbi tincidunt augue interdum velit euismod in. At in tellus integer
                                feugiat scelerisque varius morbi enim nunc. Vitae suscipit tellus mauris a diam.
                                Arcu non sodales neque sodales ut etiam sit amet.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- END ARTICLE -->
            </div>



            <!-- More Blog -->



        </section>
    </div>

    <!-- END ARTICLE FEED -->

    <script src='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/js/OverlayScrollbars.min.js'></script>
    <script>
        (function () {
            const burger = document.querySelector('.burger');
            const menu = document.querySelector('#' + burger.dataset.target);
            burger.addEventListener('click', function () {
                menu.classList.toggle('is-active');
            });
        })();
    </script>
    <script src="/javascript/login.js"></script>
    <script src="/javascript/add-post.js"></script>
    <script src="/javascript/logout.js"></script>
    <script src="/javascript/delete-post.js"></script>
    <script src="/javascript/edit-post.js"></script>
    <!--TEST BELOW AND NOTED ABOVE OF DYNAMIC HTML FROM https://www.c-sharpcorner.com/article/dynamic-html-using-handlebars-javascript/-->
    <h3 id="MyHeading">Welcome to Dynamic HTML!</h3>
    <p id="MyText">Click anywhere on this page.</p>
</body>

</html>