<article class="new-post-form">
    <div class="title">
        <a href="({{post.blog_text}})" target="_blank">{{post._blog_title}}</a>
        <span>{{post.blog_title}}</span>
    </div>
    <div class="meta">{{post.blog_title}} by {{post.user.username}} on {{post.created_at}}
        |
        <a href="/post/{{post.id}}"></a>`
    </div>
</article>

<form class="new-post-form">
    <div>
        <textarea name="blog-title">Your blah blah Title</textarea>
        <textarea name="blog-body">Your blah blah Entry</textarea>
    </div>

    <div>
        <button type="submit">Save to dashboard</button>
        <button type="button" class="upvote-btn">Save to dashboard</button>
    </div>
</form>

<article class="post">
    <div class="title">
        <a href="{{post.post_url}}" target="_blank">{{post.title}}</a>
        <span>({{post.post_url}})</span>
    </div>
    <div class="meta">
        {{post.vote_count}} point(s) by {{post.user.username}} on
        {{post.created_at}}
        |
        <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
    </div>
</article>

{{!-- <div class="comments">
    {{#each post.blog_title}}
    <section class="comment">
        <div class="meta">
            {{user.username}} on {{created_at}}
        </div>
        <div class="text">
            {{blog_text}}
        </div>
    </section>
    {{/each}}
</div> --}}

<script src="/javascript/login.js"></script>
<script src="/javascript/add-post.js"></script>
<script src="/javascript/logout.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/edit-post.js"></script>